@reference "./tailwind.css";

@utility surface-raised {
  background-color: var(--color-raised);
  box-shadow: var(--edge-raised);
}

@utility surface-sunken {
  background-color: var(--color-field);
  box-shadow: var(--edge-sunken);
}

@utility surface-primary {
  @apply bg-primary;
  box-shadow: var(--edge-primary);
}

@utility segmented {
  @apply -my-px gap-0.5 rounded-lg p-0.75;

  & > * {
    border-radius: calc(var(--radius-lg) - 3px);
  }
}

@utility separator {
  @apply bg-separator;
  box-shadow: var(--edge-separator);
  &[aria-orientation="vertical"] {
    box-shadow: var(--edge-separator-vertical);
  }
}

@utility focus-ring {
  outline: 2px solid transparent;
  outline-offset: 1px;

  &:focus-visible,
  &:has(:focus-visible) {
    outline-color: var(--color-focus);
    transition-duration: 300ms;
  }
}

@utility dim-disabled {
  &:is(:disabled, [data-disabled], :has(:disabled)) {
    pointer-events: none;
    opacity: 40%;
  }
}
