@keyframes overflow-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes overflow-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@property --overflow-fade-start {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

@property --overflow-fade-end {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

@keyframes overflow-fade-x-start {
  from {
    --overflow-fade-start: 0px;
  }
  to {
    --overflow-fade-start: 1.5rem;
  }
}

@keyframes overflow-fade-x-end {
  from {
    --overflow-fade-end: 1.5rem;
  }
  to {
    --overflow-fade-end: 0px;
  }
}
