@utility popup-motion {
  transform-origin: var(--transform-origin);
  transition-property: opacity, scale;
  transition-timing-function: var(--default-transition-timing-function);
  transition-duration: 100ms;

  &[data-starting-style] {
    opacity: 0;
    scale: 0.95;
  }
  &[data-ending-style] {
    opacity: 0;
  }
}
