@layer components {
  .spinner {
    width: 16px;
    height: 16px;
    border: 2px solid var(--color-disabled);
    border-top-color: var(--color-foreground);
    border-radius: 999px;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to {
    rotate: 1turn;
  }
}
